@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* DEFINITION OF VARIABLES */
:root {
    /* Color palette */
    --red: #FF0000;
    --bleu: #009BFF;
    --titres: #000000;
    --paragraphe: #747474;
    --lbtn-edit: #979797;
    --border : #D8D8D8;
     }

    
* {
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
section {
    display:flex;
    justify-content: center;
    margin: 0px auto;
    max-width : 80%;
}
.section {
    margin-top:30px;
}
.container {
    
}
.titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    margin-bottom : 30px;
}
.gauche {
    display: flex;
    flex-direction: column;
    flex:1;
    width : 49%;
    margin-top: 20px;
}

.list-items {
    display: flex;
    flex-direction: column;
    width : 50%;
    padding-right : 5%;
}

.ajouter {
    background-color: var(--bleu);
    color : #fff;
    padding : 5px;
    border : none;
    border-radius: 7px;
    width : 150px;
}


.items {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom : 15px;
}

.item-details {
    display : flex;
    flex-direction: row;
    justify-content: space-between;

}

.profil {
    display: flex;
   
}

.items-gen {
    display: flex;
    justify-content: space-between;
}
.btn-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items img {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--bleu);
    margin-right : 10px;
}

.items button {
    width : 50px;
    height : 50px;
    border-radius: 5px;
    border : none;
    margin : 0 10px 0 0;
}

.items .delete {
    background-color: var(--red);
    color : #fff;
}

.btnSizeDel {
    font-size:20px;
}

.btnSize {
    font-size: 24px;
}

.item-data {
   
}

.item-data p {
    color : var(--paragraphe);
    font-size : 12px;
    margin-bottom: 3px;
}

.form-dsp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left : solid var(--border) 1px;
    padding-left : 15px;
}

#formulaireSection {
    display: flex;
    flex-direction: column;
    flex:1;
  
    padding-left : 15px;
}

#formList {
    display: none;
}

#formulaireSection h2 {
    margin: 10px 0 10px 0;

}

.input-style{
    padding : 5px;
    display: flex;
    flex-direction: column;
    width:49%;
}

.dsg {
    padding : 10px;
    border-radius: 10px;
    border : 1px solid var(--border);
}

.btn {
    padding : 10px 20px;
    width : 50%;
    border-radius: 6px;
    border : 1px solid var(--border);
}

.btn-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}

.btn-class .btn{
    width:200px;
    height: 40px;
}

.ajout{
    color : #fff;
    background-color: var(--bleu);
    
}

label {
    padding-bottom : 10px;
    display: block;

}